@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');

:root{
    --rajdhani: 'Rajdhani', sans-serif;
}
html,body{
    margin: 0px;
}
body{
    display: flex;
    flex-direction: row;
}
.background-image{
    background-image: url(https://images.unsplash.com/photo-1536152470836-b943b246224c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=738&q=80);
    background-position: center;
    width: 30vw;
    height: 100vh;
    
}
.credit{
    position: relative;
    text-align: center;
    margin: 40vh auto;
    color: aqua;
}
a{
    color: orange;
    text-decoration: none;
}
.logo-back{
    margin-top: 30vh;
    width: 100%;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.238);
    
}
.logo-back>div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 100px auto;
}
.logo-back>div>div{
    margin-right: 40px;
}
h1{
    font-size: 60px;
    font-family: 'Comforter Brush', cursive;
    color: orange;
    font-weight: lighter;
    text-align: center;
    padding-right: 30px;
}
h4{
    font-family: var(--rajdhani);
}
a:hover{
    color:blanchedalmond;
}

/*form style */
.form{
    background-color: #133a5b;
    height: 100vh;
    width: 70vw;
    color: #d9d9d9;
    display: flex;
    flex-direction: column;
    flex: 1;
}
.form>div{
    margin: 80px auto;
    text-align: center;
    max-width: 80%;
    
}
h3{
    color: orange;
}
form{
    width: 80%;
    margin: 10px auto;
    border-radius: 0.5rem;
    box-shadow: 4px 4px 5px 2px rgba(0, 0, 0, 0.317);
    padding: 10px;
    background-color: #045a81;
    
}
input{
    height: 30px;
    border-radius: .3rem;
    border: none;
    accent-color: orange;
}
input:not(:first-child):focus{
    box-shadow: 1px 1px 2px 3px rgba(0, 0, 0, 0.491);
    
}
form>div:first-child{
    margin: 40px auto;
    text-transform: uppercase;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    font-family: var(--rajdhani);
    
}
form>div:first-child>div{
    flex:1 1 0;
}
form>div>div{
    
    display: flex;
    flex-direction: column;
    width: 250px;
    margin: 10px;
}
button{
    display: block;
    margin: 10px auto;
    width: 200px;height: 50px;
    font-size: 20px;
    font-family: var(--rajdhani);
    border: none;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.491);
    background-color: #07487d;
    color: #d9d9d9;
    border-radius: .5rem;
}
button:hover{
    box-shadow: 1px 1px 2px 1px rgba(100, 192, 253, 0.491);
    background-color: #133a5b;
    color: orange;
}
h2{
    font-size: 50px;
    font-family: 'Stick No Bills', sans-serif;
}
h3{
    margin-top: 20px;margin-bottom: 0px;
    font-size: 30px;
    font-family: var(--rajdhani);
}
form>div:last-child{
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center ;
    gap: 5%;
    font-family: var(--rajdhani);
    width: 20%;
}
footer{
    font-family: var(--rajdhani);
    margin: 12% auto;
    text-align: center;
    
}
